<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Yahooニュースゲッター | エラーページ</title>
</head>
<body id='index'>
<header>
    <div class="container">
        <h1>Yahoo!JAPAN ニュース</h1>
    </div>
</header>
<main>
    <div class="container">
        <h2>ERROR!</h2>
        {% if res['error']: %}
        <h2>{{ res['error'] }}</h2>
        {% else: %}
        <h2>予期せぬエラーが発生しました</h2>
        {% endif %}
        <div class="back">
            <p><a href="{{ url_for('index') }}">カテゴリ選択に戻る</a></p>
        </div>

    </div>
</main>

<footer>
    <div class="container">
        <small>このページは<a href="https://news.yahoo.co.jp/">『Yahoo!JAPAN ニュース』</a>を利用しています<br>(c) HAL0210 2021</small>
    </div>
</footer>

</body>
</html>