<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Yahooニュースゲッター</title>
</head>
<body id='index'>
<header>
    <div class="container">
        <h1>Yahoo!ニュースゲッター</h1>
    </div>
</header>
<main>
    <div class="container">
        <h2>見たいニュースのカテゴリを選択</h2>
        <form action="{{ url_for('topics') }}" method="post" class='categories'>
            {% for value, category in res['categories'].items(): %}
            <div class="category">
                <label>
                    <input type="radio" name="category" value='{{ value }}'><p>{{ category }}<br></p>
                </label>
            </div>
            {% endfor %}
            <div class="post">
                <input type="submit" value="ニュースを見る" class='submit'>
            </div>
        </form>

    </div>
</main>

<footer>
    <div class="container">
        <small>このページは<a href="https://news.yahoo.co.jp/">『Yahoo!JAPAN ニュース』</a>を利用しています<br>(c) HAL0210 2021</small>
    </div>
</footer>

</body>
</html>